.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.cart-count {
  color: #fff;
  position: relative;
  cursor: pointer;
}

.cart-count em {
  height: 24px;
  background-color: indianred;
  font-style: normal;
  padding: 0;
  border-radius: 50px;
  position: absolute;
  top: -5px;
  right: -14px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
}
