.fa-trash-alt {
  color: #dc3545;
  font-size: 18px;
}

.table td,
.table th {
  vertical-align: middle;
}

.cart {
  &__wrap {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__footer-text {
    font-weight: bold;
    font-size: 20px;
  }
}
