<section class="cart">
  <div class="container">
    <div class="cart__wrap table-responsive-sm" *ngIf="cartItems && cartItems.length > 0">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Remove item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td><img style="width: 200px;" src="{{item.img}}" alt=""></td>
            <td class="text-center font-weight-bold">{{item.name}}</td>
            <td class="text-center font-weight-bold">{{item.price}}</td>
            <td class="text-center">
              <button class="btn" (click)="removeItemFromCart(item.id)"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="cart__footer">
        <div>
          <p class="cart__footer-text">Total Price:<span class="cart__footer-total ml-3">{{totalAmmount}}</span></p>
        </div>
        <button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
      </div>
    </div>
  </div>
</section>