<section class="product">
  <div class="container">
    <div class="row product-list" style="margin: 1em 0;">
      <div class="col-sm-12 col-md-6 col-lg-4 product-list__item" *ngFor="let item of products; let i = index;">
        <div class="card mb-4 shadow-sm pd-5">
          <div class="product__image">
            <img class="product__image-top card-img-top" src="{{item.img}}" alt="Card image cap">
          </div>
          <div class="product__body card-body text-center">
            <h4>{{item.name}}</h4>
            <p class="product__text">{{item.label}}</p>
            <h5 class="product__price">$ <span>{{item.price}}</span></h5>
            <div class="product__btn-wrap text-center">
              <button type="button" class="btn btn-sm"
                [ngClass]="item.selected ? 'btn-success' : 'btn-outline-secondary'" (click)="addToCart(item)">Add To
                Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>