.product {
  margin-top: 50px;
  &__image {
    padding: 1em;
    background: #ccc;
    min-height: 190px;
    img {
      max-width: 100%;
    }
  }
  &__image-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  &__text {
    margin-bottom: 1rem;
  }
  &__price {
    margin-bottom: 20px;
  }
  &__quantity {
    font-weight: 700;
    font-size: 18px;
  }
  &__btn-wrap {
    margin-top: 30px;
  }
}

.btn {
  border-radius: 5px;
  margin: 0 20px;
  font-size: 12px;
}
